%section.faster-iteration.feature-gallery.feature-gallery-alt.text-center.page-container
  .container
    .titles
      %h3 Iterate faster than your competition
      %h4 Move faster from planning to monitoring with built-in workﬂow best practices.
    .feature-gallery-slick-container
      #feature-gallery-slider-1.main-slider-size
        = image_tag "/images/gitlab_ee/screenshots/07-gitlab-ci.png", class: "img-responsive"
        = image_tag "/images/gitlab_ee/screenshots/08-review-apps.png", class: "img-responsive"
        = image_tag "/images/gitlab_ee/screenshots/09-pipeline-graph.png", class: "img-responsive"
      .row.slider-dots.slider-nav-1
        .col-md-4.feature-slider-dot-content{index:"0"}
          %div
            %h4
              GitLab CI
            %p Run tests on every merge request and merge with conﬁdence.
            %a{href:"/gitlab-ci/", class: "white-background-link"}
              Learn more...
        .col-md-4.feature-slider-dot-content{index:"1"}
          %div
            %h4 Manual or automatic deploys
            %p Deﬁne your CI/CD Pipeline and deploy changes on your terms.
        .col-md-4.feature-slider-dot-content{index:"2"}
          %div
            %h4 Pipeline Graph
            %p Visualize your pipelines and easily ﬁx anything that fails.
